/* 
START OF DOCUMENTATION
    ROOT: 
        -colors
        -spacing
        -fonts
    GENERAL:
        -reset
        -body
        -heading
        -blocks
        -inline
        -links
    NAVIGATION:
        NAV BAR
        SEARCH BAR
    PRODUCT CARDS:
    STORE:
        -graphics
            -banner
            -logo
        -text
            -contact buttons
            -store stats
            -store name

END OF DOCUMENTATION */
:root {
    /* COLORS */
    /* primary */
    --clr_prm-900: ;
    --clr_prm-700: ;
    --clr_prm-400: ;
    /* secondary */
    --clr_sec-900: ;
    --clr_sec-700: ;
    --clr_sec-400: ;
    /* tetriary */
    --clr_tri-900: ;
    --clr_tri-700: ;
    --clr_tri-400: ;
    /* SPACING */
    /* padding */
    --pd_15: 15px;
    --pd_xl: ;
    --pd_lrg: ;
    --pd_semi: ;
    --pd_med: ;
    --pd_reg: ;
    --pd_sml: ;
    --pd_xsm: ;
    /* margin */
    --mg_xl: ;
    --mg_lrg: ;
    --mg_semi: ;
    --mg_med: ;
    --mg_reg: ;
    --mg_sml: ;
    --mg_xsm: ;
    /* FONTS */
    /* size */
    --fs_xl: 2.4rem;
    --fs_lrg: 2.2rem;
    --fs_semi: 2rem;
    --fs_med: 1.6rem;
    --fs_reg: 1.5rem;
    --fs_sml: 1.3rem;
    --fs_xsm: 1.2rem;
    /* weight */
    --fw_xl: 900;
    --fw_semi: 700;
    --fw_med: 500;
    --fw_reg: 400;
    --fw_sml: ;
    --fw_xsm: ;
    /* family */
    --fa_default: 'Roboto', sans-serif;
    /* BORDER */
    --brd_thin-grey: 1px solid grey;

    /* NAV BAR WIDTH */
    --nav_width: 120px;
}
/* GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
html {
    font-size: 62.5%;
    color-scheme: light;
}
body {
    font-family: var(--fa_default);
    font-weight: var(--fw_reg);
    font-size: var(--fs_reg);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    visibility: visible;
}
h1 {
    text-transform:capitalize;
}
h1,
h2 {
    font-weight: var(--fw_semi);
}
h1 {
    font-weight: var(--fs_xl);
}
h2 {
    font-size: var(--fs_semi);
}
h3 {
    font-weight: var(--fw_reg);
    font-size: var(--fs_med);
}
.wrapper {
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 120px;
}
.page__content-wrapper {
    padding-block: 5rem;
    width: 80%;
    margin: auto;
}
.page__content-wrapper .title__wrapper {
    display: flex;
    justify-content: space-between;
}
.product__wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 2rem;
}
i:hover {
    color: cyan;
}
@media screen and (max-width:1400px){
    .product__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .product__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .page__content-wrapper {
        width: 100%;
    }
}
/* GENERAL UTILITY */
.grid__row--span-2 {
    grid-row: span 2;
}
.grid__align--center {
    justify-content: center;
    align-content: center;
}
/* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR */
.nav-bar-main {
    background: #222;
    width: 100%;
    padding: 1em 0;
    position: fixed;
    top: 0;
    z-index: 999;
    color: white;
    border-right: 1px solid #ffffff10;
}
.nav__spacer {
    width: 100%;
    margin-bottom: 5rem;
}
.nav-bar-main > * {
    list-style-type: none;
}
.nav-bar__content {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
}

.nav-bar__content div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.nav-bar__item {
    width: 60px;
    height: 100%;
    color: white;
    border: 2px solid pink;
    border-radius: 50vw;
}

.nav-bar__logo {
    padding-inline: 10px;
}
.nav-bar__logo a {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.nav-bar__logo span {
    font-size: var(--fs_xl);
}

.nav-bar__logo h2{
    text-decoration: underline;
}
.nav-bar__logo:hover h2 {
    color: pink;
    text-decoration: underline;
}

.nav-bar__item .account b {
    text-decoration: underline;
}

.nav-bar__item.account:hover b {
    text-decoration: none;
}

.nav-bar__item a {
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-bar__item.accountDropDown {
    position: relative;
}
.nav-bar__dropdown {
    display: none;
    width: 250px;
    position: absolute;
    background-color: green;
    top: calc(100% + 5px);
    right: 0;
    border-radius: 5px;
    overflow: hidden;
}
.show {
    display: block;
}
.nav-bar__dropdown li {
    width: 100%;
    display: block;
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-size: var(--fs_med);
}

.nav-bar__dropdown li a {
    display: inline;
}
.no-border {
    border: none;
}
.nav-bar__dropdown p {
    font-size: var(--fs_sml);
}

.nav-bar__dropdown li:not(.account) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar__dropdown a .account {
    display: grid;
    grid-template-columns: 50px 4fr;
    grid-row: 1fr 1fr;
}
/* PROFILE STYLES */
.nav-bar-main .nav-bar__item .profile__picture-menu {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
}
/* PROFILE STYLES */
.nav-bar__dropdown-item.tab {
    padding-left: 30px;
}

.nav-bar__dropdown-item.dropdown__sub-section-both {
    border-top: 2px solid grey;
}

.nav-bar__dropdown-item.dropdown__sub-section-both,
.nav-bar__dropdown-item.dropdown__sub-section-bottom {
    display: block;
    border-bottom: 2px solid grey;
}
/* SEARCH BAR */
.search-bar__wrapper {
    background-color: white;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50vw;
}
.search-bar__input {
    width: 100%;
    padding: 0px 20px;
}
.search-bar__input:focus {
    width: 100%;
    outline: none;
    border: 2px solid red;
    border-radius: 50vw;
}
.search-bar__button {
    height: 100%;
    position: absolute;
    right: 20px;
    aspect-ratio: 1;
    cursor: pointer;
    margin-right: -20px
}
.search-bar__button,
.search-bar__input {
    background-color: transparent;
    border: none;
}
/* FILTERS */
.filter__block-wrapper {
    max-width: 400px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.filter__block-wrapper > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* PRODUCT CARDS */
.card__wrapper{
    list-style-type: none;
}
.card__product {
    width: 250px;
    position: relative;
    color: black;
}
.card__product a {
    text-decoration: none;
    color: inherit;
}
.card__product-image {
    width: 250px;
    height: 250px;
    aspect-ratio: 1;
    background: white;
    border: var(--brd_thin-grey);
    position: relative;
    overflow: hidden;
}
.card__product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card__product-wishlist {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.card__product h2,
.card__product h3 {
    text-transform: uppercase;
    margin-top: 10px;
}
.card__product h3 {
    font-size: var(--fs_sml);
}
.card__product h2 {
    font-size: var(--fs_med);
}
h2.card__product-price {
    font-size: var(--fs_lrg);
    margin: 10px 0;
}
.card__btn-cart {
    padding: 5px 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50vw;
    border: var(--brd_thin-grey);
    cursor: pointer;
}
/*----------------------------------

        Homepage Styles

----------------------------------*/
.header__home {
    width: 100%;
    height: 500px;
    display: block;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: firebrick;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}
.header__home img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.header__home--text-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.header__home--text-content h1 {
    font-size: 8rem;
}
.header__home--text-content H2 {
    font-size: 4rem;
}
.store__card--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.store__card--wrapper a{
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}
.store__card--title {
    margin-block: 20px;
}
.store__card {
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}
.store__card--info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    background-color: #22222280;
    bottom: 0;
    left: 0;
    padding: 2rem;
    color: white;
    text-transform: uppercase;
}
.store__card:hover .store__card--info,
.store__card:hover .store__name{
    text-decoration: underline;
}
.store__card:hover .store__card--info {
    background-color: #00000080;
}
.store__card--banner,
.store__card--color-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
.store__card--heading {
    display: flex;
    align-items: center;
}
.store__card--logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 100%;
    overflow: hidden;
}
.store__card--logo img,
.store__card--logo .store__card--logo--fill {
    width: 100%;
    height: 100%;
}
.store__name {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 4px white;
}
/* STORE */
.store__wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.store__header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.store__banner-graphics {
    height: 600px;
    position: relative;
}
.store__banner-graphics img,
.store__banner-graphic-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.store__banner-text {
    height: 200px;
    position: relative;
}
.store__banner-image {
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 2;
    margin: auto;
}
.store__front-image {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    border-radius: 50vw;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.store__front-image img,
.store__front-image-fill {
    width: 100%;
    height: 100%;
}
/* socials */
.store__socials {
    display: inline;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
}
.store__socials ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.store__socials ul li{
    list-style-type: none;
    text-decoration: none;
    
    font-size: var(--fs_med);
    font-weight: var(--fw_semi);
}
.store__socials ul li a {
    color: white;
}
.store__info-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--pd_15);
}
.store__contact-buttons {
    max-width: 500px;
    width: 30%;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
}
.store__contact-buttons button {
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.store__contact-buttons div {
    display: flex;
    gap: 10px;
}
.store__buttons-owner {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7rem;
}
.store__contact-buttons button::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: transparent;
    top: 0;
    left: 0;
}
.store__contact-buttons button:hover::after{
    background-color: rgba(0,0,0,.2);
}
.store__stats {
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.store__stats span{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* TO FIX */
.store__info {
    margin-top: var(--pd_15);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.store__info div > * {
    text-align: center;
    text-transform: uppercase;
}
.store__info div:nth-child(1){
    margin-top: calc(var(--pd_15) * 1.5);
}
.store__info div:nth-child(2){
    margin-top: calc(var(--pd_15) / 1.5); 
}
.store__info h1 {
    font-size: 4rem;
    font-weight: var(--fw_semi);
}
.store__info h2 {
    font-weight: var(--fw_reg);
}
/* Creation Forms */
.creation__menu {
    width: 100%;
}
.creation__menu input[type="text"],
.creation__menu label,
.creation__menu textarea {
    width: 300px;
    border-radius: 5px;;
}
.creation__menu input[type="text"],
.creation__menu label {
    padding: 0;
}
.creation__menu label {
    display: inline-block;
    line-height: 1;
    margin: 15px 0 5px 0;
}
.creation__menu input[type="text"] {
    height: 30px;
}
.creation__menu input[type="text"],
.creation__menu textarea {
    display: block;
}
.creation__menu textarea {
    resize: none;
    height: 100px;
}
.product__image {
    width: 400px;
    height: 400px;

    overflow: hidden;
}
.product__image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}
.solo-product__wrapper {
    display: flex;
    gap: 50px;
}
.file__upload-image {
    display: none;
}
.store_description-wrapper {
    position: relative;
}
.store_description-wrapper textarea {
    width: 100%;
    resize: none;
}
.store_description-wrapper p {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.add-icon-center {
    height: 25px;
    background-color: black;
    padding: 20px 10px;
    border-radius: 10px 0 0 0;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 99;
    color: white;
  }

  .add-icon-center:hover {
    cursor: pointer;
  }

  .add-icon-center:hover>* {
    opacity: .8;
  }
.manage__store-grid {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-block: 20px 10px;
}
.manage__store-grid--colors {
    display: flex;
    flex-direction: column;
}
.manage__store-grid--colors label {
    margin-top: 5px;
}
.manage__Store--button-controls {
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
}
button:hover {
    filter: brightness(.9);
}
.green__button {
    background-color: mediumspringgreen;
}
.account-settings__grid {
    display: flex;
    flex-direction: column;
}
.account_profile-picture {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    background-color: #222;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.account_profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.account__form-info > *{
    display: block;
}
.account__form-info label {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.account__form-info input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
}