/* 
START OF DOCUMENTATION
    ROOT: 
        -colors
        -spacing
        -fonts
    GENERAL:
        -reset
        -body
        -heading
        -blocks
        -inline
        -links
    NAVIGATION:
        NAV BAR
        SEARCH BAR
    PRODUCT CARDS:
    STORE:
        -graphics
            -banner
            -logo
        -text
            -contact buttons
            -store stats
            -store name

END OF DOCUMENTATION */
:root {
    /* COLORS */
    /* primary */
    --clr_prm-900: ;
    --clr_prm-700: ;
    --clr_prm-400: ;
    /* secondary */
    --clr_sec-900: ;
    --clr_sec-700: ;
    --clr_sec-400: ;
    /* tetriary */
    --clr_tri-900: ;
    --clr_tri-700: ;
    --clr_tri-400: ;
    /* SPACING */
    /* padding */
    --pd_15: 15px;
    --pd_xl: ;
    --pd_lrg: ;
    --pd_semi: ;
    --pd_med: ;
    --pd_reg: ;
    --pd_sml: ;
    --pd_xsm: ;
    /* margin */
    --mg_xl: ;
    --mg_lrg: ;
    --mg_semi: ;
    --mg_med: ;
    --mg_reg: ;
    --mg_sml: ;
    --mg_xsm: ;
    /* FONTS */
    /* size */
    --fs_xl: 2.4rem;
    --fs_lrg: 2.2rem;
    --fs_semi: 2rem;
    --fs_med: 1.6rem;
    --fs_reg: 1.5rem;
    --fs_sml: 1.3rem;
    --fs_xsm: 1.2rem;
    /* weight */
    --fw_xl: 900;
    --fw_semi: 700;
    --fw_med: 500;
    --fw_reg: 400;
    --fw_sml: ;
    --fw_xsm: ;
    /* family */
    --fa_default: 'Roboto', sans-serif;
    /* BORDER */
    --brd_thin-grey: 1px solid grey;

    /* NAV BAR WIDTH */
    --nav_width: 120px;
}
/* GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
html {
    font-size: 62.5%;
    color-scheme: light;
}
body {
    font-family: var(--fa_default);
    font-weight: var(--fw_reg);
    font-size: var(--fs_reg);
}
h1 {
    text-transform:capitalize;
}
h1,
h2 {
    font-weight: var(--fw_semi);
}
h1 {
    font-weight: var(--fs_xl);
}
h2 {
    font-size: var(--fs_semi);
}
h3 {
    font-weight: var(--fw_reg);
    font-size: var(--fs_med);
}
.wrapper {
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.product__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    margin-block: 5rem;
}
/* NAVIGATION BAR */
.nav__bar-main {
    background: #222;
    width: 100%;
    padding-block: 1em;
    position: fixed;
    top: 0;
    z-index: 999;
    color: white;
    border-right: 1px solid #ffffff10;
}
.nav__bar-main ul {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav__bar-main ul div {
    display: flex;
    gap: 20px;
}
.nav__bar-main ul li {
    list-style-type: none;
    color: white;
}
.nav__bar-main li:not(.logo){
    border: 2px solid pink;
    width: 40px;
    height: 40px;
    border-radius: 50vw;
}
.nav__bar-main li.logo {
    padding-inline: 10px;
}
.nav__bar-main li.logo:hover h2 {
    text-decoration: underline;
}
.nav__bar-main li span {
    font-size: var(--fs_xl);
}
.nav__bar-main ul li a {
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__bar-main ul li:hover:not(.logo) {
    background-color: #ffffff40;
    color: pink;
    cursor: pointer;
}
/* SEARCH BAR */
.search__bar-wrapper {
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
.search__bar {
    background-color: white;
    width: 400px;
    display: flex;
    border-radius: 50vw;
    padding-inline: 20px;
}
.search__bar-input {
    width: 100%;
}
.search__bar-button {
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    margin-right: -20px
}
.search__bar-input:focus {
    outline: red;
}
.search__bar-button,
.search__bar-input {
    background-color: transparent;
    border: none;
}
/* FILTERS */
.filter__block-wrapper {
    max-width: 400px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.filter__block-wrapper > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* PRODUCT CARDS */
.card__wrapper{
    list-style-type: none;
}
.card__product {
    width: 250px;
    position: relative;
    color: black;
}
.card__product a {
    text-decoration: none;
    color: inherit;
}
.card__product-image {
    width: 250px;
    height: 250px;
    aspect-ratio: 1;
    background: white;
    border: var(--brd_thin-grey);
    position: relative;
}
.card__product-wishlist {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.card__product h2,
.card__product h3 {
    text-transform: uppercase;
    margin-top: 10px;
}
.card__product h3 {
    font-size: var(--fs_sml);
}
.card__product h2 {
    font-size: var(--fs_med);
}
h2.card__product-price {
    font-size: var(--fs_lrg);
    margin: 10px 0;
}
.card__btn-cart {
    padding: 5px 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50vw;
    border: var(--brd_thin-grey);
    cursor: pointer;
}
/* STORE */
.store__wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.store__header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.store__banner-graphics {
    height: 600px;
    position: relative;
}
.store__banner-text {
    height: 200px;
    position: relative;
}
.store__banner-image {
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 2;
    margin: auto;
}
.store__front-image {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    border-radius: 50vw;
    background-color: pink;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* socials */
.store__socials {
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 40%;
}
.store__socials ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.store__socials ul li {
    list-style-type: none;
    text-decoration: none;

    font-size: var(--fs_med);
    font-weight: var(--fw_semi);
    color: white;
}
.store__info-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--pd_15);
}
.store__contact-buttons {
    max-width: 500px;
    width: 30%;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
}
.store__contact-buttons button {
    padding: 10px 5px;
}
.store__contact-buttons div {
    display: flex;
    gap: 10px;
}
.store__stats {
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.store__stats span{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.store__info {
    margin-top: var(--pd_15);
    display: flex;
    justify-content: center;
    text-align: center;
}
/* TO FIX */
.store__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.store__info div > * {
    text-align: center;
    text-transform: uppercase;
}
.store__info div:nth-child(1){
    margin-top: calc(var(--pd_15) * 1.5);
}
.store__info div:nth-child(2){
    margin-top: calc(var(--pd_15) / 1.5); 
}
.store__info h1 {
    font-size: 4rem;
    font-weight: var(--fw_semi);
}
.store__info h2 {
    font-weight: var(--fw_reg);
}
/* Creation Forms */
.creation__menu {
    width: 100%;
}
.creation__menu input[type="text"],
.creation__menu label,
.creation__menu textarea {
    width: 300px;
    border-radius: 5px;;
}
.creation__menu input[type="text"],
.creation__menu label {
    padding: 0;
}
.creation__menu label {
    display: inline-block;
    line-height: 1;
    margin: 15px 0 5px 0;
}
.creation__menu input[type="text"] {
    height: 30px;
}
.creation__menu input[type="text"],
.creation__menu textarea {
    display: block;
}
.creation__menu textarea {
    resize: none;
    height: 100px;
}